<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Book List</title>
		<link rel="stylesheet" 
			th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css}" 
			th:integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
			th:crossorigin="anonymous" 
		/>
	</head>
	
	<body>
		<div class="container-fluid">
			<h1>Book List</h1>
			<h2>Test working server</h2>
			<a href="/booklist" class="btn btn-primary">To book list</a>
		</div>
	</body>
</html>